*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @font-face {
        font-family: gilroy;
        src: url(Gilroy-Black.ttf);
    }
}

html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.main{
    height: 100%;
    background-color: rgb(191 165 171);
    display: flex;
}

#part1{
    height: 100%;
    width: 26%;
    background-color: rgb(191 165 171);
}

#part2{
    height: 100%;
    width: 64%;
    background-color: aqua;
    background-image: url(https://images.unsplash.com/photo-1512316609839-ce289d3eba0a?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: top;

    .overlay{
        height: 100%;
        width: 100%;
        background-color: rgba(54, 22, 32, 0.412);
    }
}

#part3{
    height: 100%;
    width: 10%;
    background-color: rgb(191 165 171);
}

#text-div{
    position: absolute;
    width: 25em;
    left: 25%;
    top: 50%;
    transform: translate(-50%,-50%);

    h1{
        color: white;
        font-size: 4.2em;
        font-family: gilroy;
        letter-spacing: 12px;
        font-weight: 900;
        line-height: 0.85em;
        text-transform: uppercase;
    }
}

#small-img-div{
    height: 24em;
    width: 18em;
    background-color: red;
    position: absolute;
    top: 50%;
    right: -4%;
    transform: translate(-50%,-50%);
    background-image: url(https://images.unsplash.com/photo-1553984658-d17e19aa281a?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzMxfHxtb2RlbHxlbnwwfHwwfHx8MA%3D%3D);
    background-position: center;
    background-size: cover;

    .overlay{
        height: 100%;
        width: 100%;
        background-color: rgba(42, 19, 26, 0.384);
    }
}

#vertical-text{
    position: absolute;
    width: 100%;
    right: -93%;
    top: -10%;
    // background-color: red;

    h2{
        font-family: gilroy;
        font-size: 3.5em;
        color: transparent;
        text-transform: uppercase;
        letter-spacing: 0.15em; 
        word-spacing: 0.5em;
        transform: rotate(90deg);
        transform-origin: 0%;
        -webkit-text-stroke: 2px #fff;
    }
}

#menu{
    position: absolute;
    display: flex;
    top: 10%;
    left: 9.8%;
    gap: 3.5em;

    img{
        width: 2em;
        height: 2em;
        align-self: center;
    }

    h1{
        text-transform: uppercase;
        font-family: gilroy;
        color: #fff;
        font-size: 1em;
        letter-spacing: 0.4em;
        align-self: center;
        font-weight: 100;
    }
}
